@model WebApplication1.Models.Site
@{
    ViewBag.Title = "Home Page";
}
<br />

@*@using (Html.BeginForm("EvaluateSite", "Home", new { @class = "form-horizontal" }))*@

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Ajax.BeginForm("BuildSiteMap", "Home", new AjaxOptions()
            {
                UpdateTargetId = "sitemap",
                OnSuccess = "onLoginSuccess",
                LoadingElementId = "loading",
                OnBegin = "onLoginBegin"
            }, new { @class = "form-horizontal", @id = "loginForm" }))
            {
                <div class="form-group">
                    <label>Введите url:</label>
                    @Html.TextBoxFor(x => x.SiteUrl, new { @class = "form-control" })
                    <br />
                    <input type="submit" class="btn btn-success" value="Построить карту сайта" />
                </div>
            }


            <label> <input type="radio" value="All" name="chart" id="radioAll" onchange="ShowChart()" checked="checked" />Show all responses</label><br />
            <label> <input type="radio" value="MinMax" name="chart" id="radioMinMax" onchange="ShowChart()" />Show min/max responses </label><br />
            <label> <input type="radio" value="TenSlowest" name="chart" id="radioTenSlowest" onchange="ShowChart()" /> Show 10 slowest responses </label><br />


            <div id="ContainerAll" style="min-width: 1140px; height: 400px; margin: 0 auto"></div>
            <div id="ContainerMinMax" style="min-width: 1140px; height: 400px; margin: 0 auto" hidden="hidden"></div>
            <div id="ContainerTenSlowest" style="min-width: 1140px; height: 400px; margin: 0 auto" hidden="hidden"></div>

        </section>
    </div>
    <div id="sitemap" class="col-md-10">
        <div id="loading">
            <img src="~/Content/Images/loading.gif" />
        </div>
    </div>    
</div>

<script type="text/javascript">
    function onLoginBegin()
    {
        // Disable the button and hide the other image here
        // or you can hide the whole div like below
        $('#logbtn').hide();
    }
</script>